@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(10%) sepia(40%) saturate(778%) hue-rotate(210deg) brightness(90%)
        contrast(100%);
    --header-bg-color: #eee;
    --top-actions-group-bg-color: #fff;
    --top-actions-group-shadow: rgba(237, 237, 246, 0.2);
    --top-actions-separate-bg-color: #ededf6;
    --body-bg-color: #f6f6f6;

    @include abstracts.screen(md) {
        --header-bg-color: #fff;
        --header-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    }

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
    --arrow-dropdown-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(38%) hue-rotate(254deg)
        brightness(110%) contrast(110%);
    --top-menu-border-color: #d2d1d6;
    --menu-column-text-color: #1a162e;
    --menu-column-link-hover-color: #0071dc;

    // Sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);

    // Cate-item
    --cate-item-bg: #eee;
    --cate-item-media-bg: #fff;
    --cate-item-title-color: #000;
    --cate-item-desc-color: #1a162e;

    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
    }

    // Product
    --filter-btn-bg: #fff;
    --filter-btn-color: #6c6c72;
    --product-item-bg: #fff;
    --product-item-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    --product-btn-bg: #fff;
    --product-item-btn-shadow: 0px 20px 60px rgba(124, 124, 124, 0.4);
    --product-item-title-color: #1a162e;
    --product-item-bottom: #1a162e;

    @include abstracts.screen(sm) {
        --filter-btn-color: #1a162e;
    }
}
