.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    padding: 0 20px;
    background: #ededf6;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 6px;
    user-select: none;

    &--small {
        height: 40px;
        padding: 0 16px;
    }

    + .btn {
        margin-left: 20px;
    }

    &--text {
        background: transparent;
        font-weight: 400;
    }

    &--primary {
        background: #ffb700;
    }

    &--outline {
        background: transparent;
        border: 1px solid #d2d1d6;
    }

    &--rounded {
        border-radius: 99px;
    }

    &--danger {
        color: #fff;
        background: red;
    }

    &:hover {
        opacity: 0.9;
    }

    &--no-margin.btn {
        margin: 0;
    }
}
