@use "../abstracts";

.cate-item {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
    padding: 20px 26px;
    border-radius: 16px;
    background: var(--cate-item-bg);

    &__media {
        width: 116px;
        height: 116px;
        border-radius: 16px;
        background: var(--cate-item-media-bg);
        flex-shrink: 0;

        @include abstracts.screen(md) {
            width: 88px;
            height: 88px;
        }
    }

    &__thumb {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        color: var(--cate-item-title-color);
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.45;

        @include abstracts.screen(md) {
            font-size: 1.8rem;
        }
    }

    &__desc {
        margin-top: 6px;
        color: var(--cate-item-desc-color);
        font-size: 1.6rem;
        line-height: 1.5;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }

    @include abstracts.screen(xl) {
        flex-direction: column;
    }

    @include abstracts.screen(md) {
        flex-direction: row;
        background: #fff;
    }
}
