@use "../abstracts";

.dropdown {
    position: absolute;
    left: 0;
    padding-top: 50px;
    width: min(100%, 1240px);
    display: none;

    @include abstracts.breakpoint(lg) {
        position: initial;
        visibility: visible;
        opacity: 1;
        padding-top: 0;
    }

    &__inner {
        --inner-padding: 30px;

        position: relative;
        padding: var(--inner-padding);

        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: var(--dropdown-shadow);

        &::before {
            position: absolute;
            content: url(../icons/dropdown-arrow.svg);
            top: -15px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--arrow-dropdown-color);
        }

        @include abstracts.breakpoint(lg) {
            padding: 0 40px;
            border-radius: 0;
            background: transparent;
            box-shadow: none;

            &::before {
                content: none;
            }
        }

        @include abstracts.breakpoint(sm) {
            padding: 0 20px;
        }
    }
}

.top-menu {
    position: relative;
    height: calc(min(585px, (100vh - 150px)) - var(--inner-padding) * 2);

    @include abstracts.breakpoint(lg) {
        height: 100%;
    }
    &__main {
        width: 292px;
        height: calc(min(585px, (100vh - 150px)) - var(--inner-padding) * 2);
        border-right: 1px solid var(--top-menu-border-color);
        overflow-y: auto;

        @include abstracts.breakpoint(lg) {
            width: 100%;
            height: 100%;
            border-right: none;
        }
    }
}

.menu-column {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 14px;

    @include abstracts.breakpoint(lg) {
        margin-top: 0;
    }

    &__icon {
        position: relative;
        flex-shrink: 0;
        width: 36px;
        height: 36px;

        @include abstracts.breakpoint(xl) {
            display: none;
        }

        @include abstracts.breakpoint(lg) {
            display: block;
            margin: 20px 0;
        }
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    &__icon-2 {
        position: absolute;
        top: 15px;
        right: -3px;
        width: 24px;
        height: 24px;
        object-fit: contain;
        filter: var(--menu-column-icon-color);
    }

    &__heading {
        color: var(--menu-column-text-color);
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.25;

        @include abstracts.breakpoint(lg) {
            margin: 20px 0;
        }
    }

    &__list {
        margin-top: 13px;
        @include abstracts.breakpoint(lg) {
            margin-top: 0;
        }
    }

    &__item {
        &--active .sub-menu {
            display: grid;

            @include abstracts.breakpoint(lg) {
                display: block;
            }
        }
    }

    &__item--active > &__link {
        color: var(--menu-column-link-hover-color);
        font-weight: 500;
    }

    &__item:hover > &__link {
        color: var(--menu-column-link-hover-color);
        font-weight: 500;
    }

    &__link {
        display: block;
        color: var(--menu-column-text-color);
        padding: 7px 0;
        font-size: 1.4rem;
        line-height: 1.43;
    }

    &__list--01 &__item:nth-child(1) .sub-menu,
    &__item:nth-child(4) .sub-menu,
    &__item:nth-child(8) .sub-menu,
    &__item:nth-child(11) .sub-menu,
    &__item:nth-child(14) .sub-menu {
        &__column:nth-child(5) {
            grid-area: 3 / 2 / 4 / 3;
            margin-top: 60px;
            @include abstracts.breakpoint(lg) {
                margin-top: 0;
            }
        }

        &__column:nth-child(3) {
            grid-area: 1 / 3 / 4 / 4;
        }

        &__column:nth-child(4) {
            grid-area: 3 / 1 / 4 / 2;
        }
    }

    &__list--01 &__item:nth-child(3) .sub-menu,
    &__item:nth-child(6) .sub-menu,
    &__item:nth-child(9) .sub-menu,
    &__item:nth-child(12) .sub-menu {
        grid-template-rows: repeat(2, auto);
        &__column:nth-child(5) {
            grid-area: 2 / 3 / 3 / 4;
        }

        &__column:nth-child(4) {
            grid-area: 2 / 2 / 3 / 3;
            margin-top: -70px;
        }
    }
}

.sub-menu {
    position: absolute;
    inset: 0 0 0 292px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 15px;
    padding-left: 30px;
    overflow-y: auto;
    display: none;
    transition: 0.5s ease;

    &__column:nth-child(1) {
        grid-area: 1 / 1 / 3 / 2;
    }

    &__column:nth-child(2) {
        grid-area: 1 / 2 / 4 / 3;
    }

    &__column:nth-child(5) {
        grid-area: 2 / 3 / 4 / 4;
    }

    @include abstracts.breakpoint(lg) {
        position: initial;
        display: none;
        padding-left: 0;
    }
}
