@use "../abstracts";

.slideshow {
    position: relative;

    &__inner {
        display: flex;
        overflow: hidden;
    }

    &__item {
        position: relative;
        flex-shrink: 0;
        padding-top: 34%;
        width: 100%;

        @include abstracts.screen(md) {
            padding-top: 50%;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    &__page {
        position: absolute;
        bottom: 10%;
        left: 6%;
        display: flex;
        align-items: center;
        gap: 20px;
        width: 12%;
    }

    &__number {
        color: #fff;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }

    &__slider {
        position: relative;
        width: 100%;
        height: 4px;
        flex-shrink: 0;
        background: #fff;

        @include abstracts.screen(md) {
            height: 3px;
        }
    }

    &__slider::after,
    &__slider::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;
        flex-shrink: 0;
        border: 4px solid #fff;
        border-radius: 50%;

        @include abstracts.screen(md) {
            border-width: 3px;
        }
    }

    &__slider::after {
        left: -14px;
    }

    &__slider::before {
        right: -14px;
    }
}
