*,
::after,
::before {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Lato, sans-serif;
    color: var(--text-color);
    background: var(--body-bg-color);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

button,
input,
textarea,
label,
select {
    outline: none;
    font-family: inherit;
    color: inherit;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
}

input,
textarea {
    background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    transition: background-color 1s 9999s;
    -webkit-text-fill-color: var(--text-color);
    caret-color: var(--text-color);
}

.icon {
    filter: var(--icon-color);
}

i,
em {
    font-style: italic;
}

b,
strong {
    font-weight: 600;
}
