<div class="container">
    <div class="footer__inner">
        <div class="footer__row">
            <div class="footer__col footer__left">
                <a href="./" class="logo">
                    <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
                    <h1 class="logo__text">grocerymart</h1>
                </a>
                <p class="footer__desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa aspernatur odit ipsum eius distinctio.
                </p>
                <form action="#!" class="footer__form">
                    <label for="footer__input" class="footer__label">Receive product news and updates</label>
                    <div class="footer__form-inner">
                        <input
                            type="text"
                            name=""
                            id="footer__input"
                            class="footer__input"
                            placeholder="Email address"
                        />
                        <button class="btn btn--primary footer__btn">SEND</button>
                    </div>
                </form>
            </div>

            <div class="footer__col">
                <h3 class="footer__heading">SHOP</h3>
                <ul>
                    <li class="footer__col-item"><a href="#!" class="footer__link">All Departments</a></li>
                    <li class="footer__col-item"><a href="#!" class="footer__link">Electronics</a></li>
                    <li class="footer__col-item"><a href="#!" class="footer__link">Home, Furniture & Appliances</a></li>
                    <li class="footer__col-item"><a href="#!" class="footer__link">Household Essentials</a></li>
                    <li class="footer__col-item"><a href="#!" class="footer__link">Sports & Outdoors</a></li>
                </ul>
            </div>

            <div class="footer__col">
                <h3 class="footer__heading">SUPPORT</h3>
                <ul>
                    <li class="footer__col-item"><a href="#!" class="footer__link">Store locator</a></li>
                    <li class="footer__col-item"><a href="#!" class="footer__link">Order status</a></li>
                </ul>
            </div>

            <div class="footer__col">
                <h3 class="footer__heading">COMPANY</h3>
                <ul>
                    <li class="footer__col-item"><a href="#!" class="footer__link">Customer Service</a></li>
                    <li class="footer__col-item"><a href="#!" class="footer__link">Terms of Use</a></li>
                    <li class="footer__col-item"><a href="#!" class="footer__link">Privacy</a></li>
                    <li class="footer__col-item"><a href="#!" class="footer__link">Careers</a></li>
                    <li class="footer__col-item"><a href="#!" class="footer__link">Affiliates</a></li>
                </ul>
            </div>

            <div class="footer__col">
                <h3 class="footer__heading">CONTACT</h3>
                <div class="">
                    <h4 class="footer__tilte">Email</h4>
                    <p class="footer__col-item"><a href="#!" class="footer__link">contact@gmail.com</a></p>
                </div>
                <div class="">
                    <h4 class="footer__tilte">Hotline</h4>
                    <p class="footer__col-item"><a href="#!" class="footer__link">18001098</a></p>
                </div>
                <div class="">
                    <h4 class="footer__tilte">Address</h4>
                    <p class="footer__col-item"><a href="#!" class="footer__link">Huong Xuan, Huong Khe, Ha Tinh</a></p>
                </div>
                <div class="">
                    <h4 class="footer__tilte">Hours</h4>
                    <p class="footer__col-item"><a href="#!" class="footer__link">M - F 08:00am - 6:00pm</a></p>
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <p class="footer__copyright">©2024 - 2025 Grocery Mart. All rights reserved .</p>
            <div class="footer__socials">
                <a href="#!" class="footer__socials-link footer__social-facebook">
                    <img src="./assets/icons/faecbook.svg" alt="" class="footer__socials-icon" />
                </a>
                <a href="#!" class="footer__socials-link footer__social-youtube">
                    <img src="./assets/icons/youtube.svg" alt="" class="footer__socials-icon" />
                </a>
                <a href="#!" class="footer__socials-link footer__social-tiktok">
                    <img src="./assets/icons/tiktok.svg" alt="" class="footer__socials-icon" />
                </a>
                <a href="#!" class="footer__socials-link footer__social-instargram">
                    <img src="./assets/icons/instagram.svg" alt="" class="footer__socials-icon" />
                </a>
                <a href="#!" class="footer__socials-link footer__social-twitter">
                    <img src="../assets/icons/twitter.svg" alt="" class="footer__socials-icon" />
                </a>
                <a href="#!" class="footer__socials-link footer__social-linkedin">
                    <img src="./assets/icons/linkedin.svg" alt="" class="footer__socials-icon" />
                </a>
            </div>
        </div>
    </div>
</div>
