<div class="container">
    <div class="top-bar">
        <!-- More -->
        <button class="top-bar__more">
            <img
                src="./assets/icons/more.svg"
                alt="More"
                class="icon top-bar__more-icon"
            />
        </button>

        <!-- Logo -->
        <a href="./" class="logo">
            <img
                src="./assets/icons/logo.svg"
                alt="grocerymart"
                class="logo__img"
            />
            <h1 class="logo__text">grocerymart</h1>
        </a>

        <!-- Navbar -->
        <nav class="navbar">
            <ul class="navbar__list">
                <li>
                    <a href="" class="navbar__link">
                        Departments
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt="arrow-down"
                            class="icon navbar__arrow"
                        />
                    </a>
                </li>
                <li>
                    <a href="" class="navbar__link">
                        Grocery
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt="arrow-down"
                            class="icon navbar__arrow"
                        />
                    </a>
                </li>
                <li>
                    <a href="" class="navbar__link">
                        Beauty
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt="arrow-down"
                            class="icon navbar__arrow"
                        />
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Actions -->
        <div class="top-actions">
            <div class="top-actions__group top-actions__group--single">
                <button class="top-actions__btn">
                    <img
                        src="./assets/icons/search.svg"
                        alt="Search"
                        class="icon top-actions__icon"
                    />
                </button>
            </div>

            <div class="top-actions__group">
                <button class="top-actions__btn">
                    <img
                        src="./assets/icons/heart.svg"
                        alt="Heart"
                        class="icon top-actions__icon"
                    />
                    <span class="top-actions__text">03</span>
                </button>

                <div class="top-actions__separate"></div>

                <button class="top-actions__btn">
                    <img
                        src="./assets/icons/buy.svg"
                        alt="Buy"
                        class="icon top-actions__icon"
                    />
                    <span class="top-actions__text">$65.42</span>
                </button>
            </div>

            <figure class="top-actions__user">
                <img
                    src="./assets/img/header-avatar.jpg"
                    alt="Avatar"
                    class="top-actions__avatar"
                />
            </figure>
        </div>
    </div>
</div>
